#section1{
    font-family: "Tajawal", sans-serif;
    .par1{
         .babyCarecenter{
    background-color: rgba(37, 37, 37,0.9);
   
   } button{
        background-color: #82c419;
        border: none;
        margin-left: 70px;
        padding: 11px 0;
    }
    }
    .par2{
        .babyCarecenter{
            background-color: rgba(37, 37, 37,0.9);
           
           } button{
                background-color: #82c419;
                border: none;
                margin-left: 70px;
                padding: 11px 0;
            }
    }
  
 
}     
  
  