.owl {
  width: 408px;
  height: 190px;
  h3 {
    font-size: 1.5rem;
    color: #734079;
  }
}

/* .swiper-slide-active .owl {
  border-color: #734079 !important;
  background-color: #734079;
}
 */


