/* العنصر الافتراضي */

  .swiper-slide-active .owl {
    border-color: #734079 !important;
    background-color: #734079;
    color: white;
  }
  
  .swiper-slide-active .owl h3 {
    color: white; 
   }
  