/* العنصر الافتراضي */
.slide-content .inner-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
  }
  
  /* العنصر النشط اللي في النص */
  .swiper-slide-active .inner-box {
    background-color: purple;
    color: white;
    transform: scale(1.05);
  }